/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100%;
	/* font-size: 25px; */
	margin: 0;
	background-color: rgb(17, 24, 39);
	/* background-color: rgb(17,255,39); */
}

@layer components {
	.flex-it {
		border: 0 solid black;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}
}
